@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    font-family: "Michroma", sans-serif;
    font-weight: normal;
    background-color: rgb(233, 231, 238);
    color: rgb(84, 68, 193);
    line-height: 1.6;
    padding: 20px;
}

#desc {
    background-color: rgb(217, 211, 235);
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: fit-content;
    box-shadow: rgba(76, 12, 224, 0.582) 0 1px 6px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

section {
    color: rgb(84, 68, 193);
    background-color: rgb(233, 231, 238);
    border: 2px solid, rgb(111, 118, 204);
    border-radius: 28px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
    max-width: fit-content;
    margin: 20px;
}

section:hover {
    color: rgb(251, 128, 255);
    font-weight: 800;
    padding: 30px;
    transition: .2s;
}

input,
select,
textarea {
    background-color: rgb(233, 231, 238);
    color: rgb(245, 8, 186);
    border-radius: 28px;
    box-shadow: 0 0 30px rgba(0.2, 0, 0, 0.2);
    padding: 5px;
    max-width: fit-content;
    max-height: fit-content;
    margin: 10px;
    /*transition: .2s;*/
}

#selection {
    border-radius: 40px;
}

hr {
    color: rgb(84, 68, 193);
    font-weight: 20px;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(84, 68, 193);
    position: sticky;
}

#titletext {
    font-family: Michroma;
    font-weight: bold;
}

h5,
h6 {
    text-align: center;
    color: rgb(245, 8, 186);
}

.sidenav {
    height: 10vw;
    /* 100% Full-height */
    width: 0vw;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    display: flex;
    flex-direction: row;
    text-align: center;
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    background-color: rgb(217, 211, 235);
    /*border: 2px solid, rgb(78, 224, 188);*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 4px 4px 4px 16px;
    text-decoration: wavy;
    font-size: 25px;
    color: #818181;
    display: flex;
    transition: 0.2s;
}

.sidenav a:hover {
    color: rgb(251, 128, 255);
    font-weight: 800;
    transition: .3s;
}

.sidenav .closebtn {
    position: absolute;
    margin-top: 70px;
    left: 10px;
    font-size: 90px;
    align-items: center;
    display: flex;
    overflow-x: hidden;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

ul,
ol {
    /*justify-content: flex-start;*/
    align-items: left;
    flex-direction: column;
    margin: 10px 0 10px 20px;
    padding: 0;
}

/* Unvisited */
a:link {
    color: rgb(119, 46, 255);
}

/* Visited */
a:visited {
    color: rgb(245, 8, 186);
}

html {
    font-size: 100%;
}

/* 16px

h1 {
    font-size: 5.652rem;
    /* 90.4px
}

h2 {
    font-size: 3.997rem;
    /* 64px 
}

h3 {
    font-size: 2.5rem;
    /* 45.28px 
}

h4 {
    font-size: 1.999rem;
    /* 32px
}

h5 {
    font-size: 1.414rem;
    /* 22.56px 
}

small {
    font-size: 0.707rem;
    /* 11.36px
} */

.menubtn {
    display: flex;
    align-items: flex-start;
    font-family: Michroma;
    color: rgb(84, 68, 193);
    background-color: rgb(249, 246, 255);
    border: 2px solid, rgb(111, 118, 204);
    border-radius: 28px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, .4) 0 0 30px;
    max-width: fit-content;
    margin: 20px;
}

.menubtn:hover {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(250, 190, 252);
    transition: .1s;
}

@keyframes shrink {
    0% {}

    50% {
        height: 0;
        width: 100;
    }

    100% {
        width: 0;
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Hide the images by default */
.mySlides {
    display: flex;
    justify-content: center;
    position: sticky;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: relative;
    top: 80%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(84, 68, 193);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: rgb(84, 68, 193);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*phone mdeia res*/
@media (max-width: 960px) {}